.button__avi {
  background-color: #00aff0;
  color: #fefefe;
  border: none;
  font-size: 14px;
  text-align: center;
  padding: 9px 18px;
  border-radius: 30px;
  font-weight: bold;
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 244px;
  min-height: 48px;
  margin-bottom: 10px;
}
.button__avi:hover {
  border: 2px solid #376170;
  cursor: pointer;
}
.group__button {
  margin-top: 20px;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.dont__ticket {
  text-decoration: underline;
  font-size: 22px;
}
