.item__avi {
  background-color: #161618;
  border-radius: 10px;
  border: 1px solid rgb(95, 95, 95);
  max-height: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.item__header {
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  font-weight: bold;
  color: #00aff0;
  margin-top: 20px;
}
.item__info {
  margin-top: 20px;
}
.info__avi {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.info__avi span {
  display: flex;

  margin-bottom: 5px;
}
.info__transfer,
.info__time,
.info__flay {
  margin-left: 10rem;
}
